.student-result-page-container {
    /* background: linear-gradient(to bottom, #fffdf1, #ffdafa); */
    background-color: #f4f7fc;
    padding: 30px;
    text-align: center;
}

.student-result-page-result-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    
}

.student-result-page-student-info-table,
.student-result-page-semester-info-table,
.student-result-page-result-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.student-result-page-student-info-table td,
.student-result-page-semester-info-table td,
.student-result-page-result-table th,
.student-result-page-result-table td {
    border: 1px solid #95c1d4;
    padding: 10px;
    text-align: left;
}

.student-result-page-result-table th {
    background-color: #21637f;
    font-weight: bold;
}

.student-result-page-result-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


.student-result-page-dropdown {
    margin-bottom: 20px;
    text-align: right;
    
}

.student-result-page-dropdown label {
    font-weight: bold;
    margin-right: 10px;
    color: #21637f;
}

.student-result-page-dropdown select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #95c1d4;
}

.student-result-page-dropdown select:hover {
    
    border: 1px solid #2c657e;
}