/* Page Layout */
.routine-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f4f7fc;
  }
  
  /* Center content */
  .routine-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  h3 {
    color: #0e0e53;
  }
  
  /* Routine Info */
  .routine-info {
    background-color: #8bdafe;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    width: 60%;
    margin-bottom: 20px;
  }
  
  .routine-info p {
    margin: 5px 0;
    font-weight: 400;
  }
  
  /* Routine Table */
  .routine-table {
    width: 100%;
    overflow-x: auto;
  }
  
  .routine-table table {
    width: 90%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .routine-table th, td {
    border: 1px solid #21637f;
    padding: 10px;
  }
  
  .routine-table th {
    background-color: #21637f;
  }
  
  /* Button Styling */
  .download-btn {
    padding: 10px 15px;
    background-color: #ee5050;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .download-btn:hover {
    background-color: #cc2c2c;
  }
  
  .footer {
    margin-top: auto;
  }
  