.student-navbar {
  width: 100%;
}

/* Top Navigation Bar */
.student-navbar-nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #FAF3C4, #D07CE1);
  padding: 6px 30px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: black;
  font-family: "Times New Roman";
}

/* Profile Section */
.student-navbar-profile-info {
  position: relative;
  display: inline-block;
}

.student-navbar-profile-icon {
  font-size: 40px;
  cursor: pointer;
  margin-right: 35px;
}

.student-navbar-dropdown-menu {
  position: absolute;
  right: 0;
  top: 40px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  width: 150px;
  text-align: left;
  z-index: 1000;
}

.student-navbar-dropdown-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 17px;
}
.student-navbar-dropdown-item:first-child {
  font-weight: 500;
}

.student-navbar-dropdown-item:hover {
  background: #f4f4f4;
}

.student-navbar-dropdown-divider {
  border: none;
  height: 1px;
  background: #ccc;
  margin: 5px 0;
}

.student-navbar-logout {
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: bold;
  color: red;
  padding: 10px;
}

/* Bottom Navigation Bar */
.student-navbar-nav-bottom {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  background: #BB5BB5;
  padding: 10px 0;
}

.student-navbar-nav-bottom a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
  transition: color 0.3s;
}

.student-navbar-nav-bottom a:hover {
  color: #f8e35d;
}

/* Enrollment Dropdown */
.Student-navbar-dropdown {
  position: relative;
  display: inline-block;
}

.Student-navbar-dropbtn {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  transition: color 0.3s;
}

.Student-navbar-dropbtn:hover {
  color: #f8e35d;
}

.Student-navbar-dropdown-content {
  display: none;
  position: absolute;
  background: white;
  min-width: 180px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
}
.Student-navbar-dropdown-content a {
  color: black  !important;  
  font-weight: 500;
  padding: 10px;
  display: block;
  text-decoration: none;
  font-size: 16px;
}

.Student-navbar-dropdown-content a:hover {
  background-color: #ebe3e3;
  padding: 10px;
}


/* Show dropdown when active */
.Student-navbar-dropdown:hover .Student-navbar-dropdown-content {
  display: block;
}
